$numberOfCols: 16;
$white: #F7FFF7;
$blue: #1A535C;
$green: #23C9FF;
$red: #FF6B6B;
$yellow: #FCD316;
$colors: $blue, $green, $red, $yellow;

@for $i from 1 through length($colors) {
    $color: nth($colors, $i);
    .item:nth-child(4n + #{$i}) {
      background-color: $color;
      padding-left: 10px;
      padding-top: 10px;
    
    }
}

@mixin itemNumber($default: $numberOfCols) {
  @for $i from 1 through $default {
    &:nth-of-type(#{$i}) {
      &:before {
        content: "#{$i}";
        font-size: 2rem;
        color: $white;
        opacity: .8;
      }
    }
  }
}

.item {
  @include itemNumber;
}
